{% extends 'store/base.html' %}
{% block content %}
    <p><em>I'm lost. Somewhere cold and dark. With a big 404 in front of me.</em></p>
    <p>L'album que vous demandez est parti dans l'upside-down pour chercher un certain "Will"</p>
    <p>Nous allons le chercher pour le tirer de là.</p>
    {% include 'store/search_form.html' %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/-RcPZdihrp4" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
    </div>
{% endblock %}